.u-section-1 .u-sheet-1 {
  min-height: 694px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: none;
  margin: 23px auto 71px;
  padding: 12px 78px 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
    margin-right: 107px;
    margin-bottom: -167px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 168px;
    margin-right: auto;
    margin-bottom: 19px;
    padding-right: 14px;
    padding-left: 13px;
  }
} .u-section-2 {
  background-image: url("images/pnghut_colosseum-new7wonders-of-the-world-ancient-rome-roman-architecture-clip-art-cliparts-17-14.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 724px;
}

.u-section-2 .u-text-1 {
  margin: 82px auto 0;
}

.u-section-2 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-2 .u-video-1 {
  height: 867px;
  width: 640px;
  margin: 30px auto 85px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 639px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-video-1 {
    height: 731px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 18px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-video-1 {
    height: 460px;
    width: 340px;
  }
} .u-section-3 {
  background-image: url("images/pnghut_colosseum-new7wonders-of-the-world-ancient-rome-roman-architecture-clip-art-cliparts-17.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 689px;
}

.u-section-3 .u-text-1 {
  margin: 107px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 409px;
  width: 503px;
  margin: 39px auto 90px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
  background-image: none;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-3 .u-carousel-control-1 {
    width: 60px;
    height: 60px;
    padding: 0;
  }

  .u-section-3 .u-carousel-control-2 {
    width: 60px;
    height: 60px;
    top: 165px;
    right: -98px;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 435px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-gallery-1 {
    width: 338px;
    margin-top: 38px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-carousel-control-1 {
    padding: 6px;
  }

  .u-section-3 .u-carousel-control-2 {
    padding: 6px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 749px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 197px 0;
}

.u-section-4 .u-gallery-1 {
  height: 423px;
  margin-top: 47px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-4 .u-back-image-1 {
  object-position: 0% 50%;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-4 .u-gallery-1 {
    height: 349px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    height: 267px;
    margin-bottom: -305px;
    grid-gap: 17px 17px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-4 .u-gallery-1 {
    height: 200px;
    margin-bottom: -821px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-4 .u-gallery-1 {
    height: 126px;
    margin-bottom: -424px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 369px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 100px auto 100px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 169px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 234px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-social-icons-1 {
  height: 39px;
  min-height: 16px;
  width: 264px;
  min-width: 148px;
  margin: 0 auto;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-social-icons-1 {
    height: 35px;
    width: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 156px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-social-icons-1 {
    width: 245px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 98px;
  }
}